@(person: Seq[Person], form: Form[PersonForm.FormData], postUrlCreate: Call)(implicit request: MessagesRequestHeader)

@main("Dodaj kontakt") {

<div class="jumbotron text-center">
    <h2>Dodaj kontakt</h2>
        @* Flash shows updates to a page *@
        @request.flash.data.map{ case (name, value) =>
            <p1>@name: @value</p1>
        }
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</div>

@* Global errors are not tied to any particular form field *@
@if(form.hasGlobalErrors) {
@form.globalErrors.map { error: FormError =>
    <div align="center">
        @error.key: @error.message
    </div>
    }
}

@helper.form(postUrlCreate) {
@helper.CSRF.formField
<table align="center">
    <tr>
        <td>
            @helper.inputText(form("name"),'_label -> "Imię")
        </td>
    </tr>
    <tr>
        <td>
            @helper.inputText(form("surname"), '_showConstraints -> false, '_label -> "Nazwisko (obowiązkowy)")
        </td>
    </tr>
    <tr>
        <td>
            @helper.inputText(form("workplace"), '_label -> "Firma")
        </td>
    </tr>
    <tr>
        <td>
            @helper.inputText(form("phone"), '_showConstraints -> false,'_label -> "Nr telefonu (obowiązkowy)")
        </td>
    </tr>
</table>

<div class="row" align="center"><button class="btn btn-primary">Dodaj</button></div>
}

<br><br>
<p align ="center"><b>Pokaż kontakty</b></p>
<p align = "center">
    <a href="@routes.WidgetController.showList" type="button" class="btn btn-primary"><font size = "2" style="align:top">KLIK</font>    <font size="5">&#x261c</font></a>
</p>
}
